@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

:root{
  --thick:rgb(17, 141, 235);
  --dark:rgb(84, 164, 226);
  --light:rgb(93, 183, 225);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
box-sizing: border-box;

}



body {
 scroll-behavior: smooth;
 scroll-snap-align: y;
  min-width: 320px;
 cursor: pointer;
overflow-x: hidden!important;
max-width: 100%!important;
    font-family: Roboto, Helvetica, Arial, sans-serif;
  
}



